{
    "semijoin_plan": {
        "guard": "dblp5",
        "children": [
            {
                "guard": "dblp6",
                "children": [
                    {
                        "guard": "dblp9",
                        "children": [
                            {
                                "guard": "dblp8",
                                "children": [],
                                "partitioned": false,
                                "id": 0
                            }
                        ],
                        "partitioned": false,
                        "id": 0
                    }
                ],
                "partitioned": false,
                "id": 0
            }
        ],
        "partitioned": false,
        "id": 0
    },
    "replacements": {
        "dblp5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.025335,
            "actual_rows": 2134108,
            "estimated_cardinality": 2141839,
            "children": [],
            "relation": "dblp5",
            "opt_filter": "s>=1206438 AND s<=3340551 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp5",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp5",
                    "field_name": "d"
                }
            ]
        },
        "dblp6": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.02848,
            "actual_rows": 2134077,
            "estimated_cardinality": 2134627,
            "children": [],
            "relation": "dblp6",
            "opt_filter": "s>=1206438 AND s<=3340551 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp6",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp6",
                    "field_name": "d"
                }
            ]
        },
        "dblp8": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001703,
            "actual_rows": 39264,
            "estimated_cardinality": 2134666,
            "children": [],
            "relation": "dblp8",
            "opt_filter": "s<=1245700 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp8",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp8",
                    "field_name": "d"
                }
            ]
        },
        "dblp9": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.004945,
            "actual_rows": 1115090,
            "estimated_cardinality": 1115090,
            "children": [],
            "relation": "dblp9",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "dblp9",
                    "field_name": "d"
                },
                {
                    "table_name": "dblp9",
                    "field_name": "s"
                }
            ]
        }
    }
}