{
    "semijoin_plan": {
        "guard": "dblp1",
        "children": [
            {
                "guard": "dblp2",
                "children": [
                    {
                        "guard": "dblp24",
                        "children": [
                            {
                                "guard": "dblp21",
                                "children": [
                                    {
                                        "guard": "dblp5",
                                        "children": [
                                            {
                                                "guard": "dblp19",
                                                "children": [
                                                    {
                                                        "guard": "dblp16",
                                                        "children": [],
                                                        "partitioned": false,
                                                        "id": 0,
                                                        "partitioning": "hash"
                                                    }
                                                ],
                                                "partitioned": false,
                                                "id": 0,
                                                "partitioning": "hash"
                                            },
                                            {
                                                "guard": "dblp18",
                                                "children": [],
                                                "partitioned": false,
                                                "id": 0,
                                                "partitioning": "hash"
                                            }
                                        ],
                                        "partitioned": false,
                                        "id": 0,
                                        "partitioning": "hash"
                                    }
                                ],
                                "partitioned": false,
                                "id": 0,
                                "partitioning": "hash"
                            }
                        ],
                        "partitioned": false,
                        "id": 0,
                        "partitioning": "hash"
                    }
                ],
                "partitioned": false,
                "id": 0,
                "partitioning": "hash"
            }
        ],
        "partitioned": false,
        "id": 0,
        "partitioning": "hash"
    },
    "replacements": {
        "dblp1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.013272,
            "actual_rows": 5743399,
            "estimated_cardinality": 5786368,
            "children": [],
            "relation": "dblp1",
            "opt_filter": "s>=1210549 AND s<=3315060 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp1",
                    "field_name": "s"
                }
            ]
        },
        "dblp2": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007675,
            "actual_rows": 3769068,
            "estimated_cardinality": 3823259,
            "children": [],
            "relation": "dblp2",
            "opt_filter": "s>=1210549 AND s<=3315060 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp2",
                    "field_name": "s"
                }
            ]
        },
        "dblp24": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007011,
            "actual_rows": 3509415,
            "estimated_cardinality": 3572810,
            "children": [],
            "relation": "dblp24",
            "opt_filter": "s>=1210549 AND s<=3315060 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp24",
                    "field_name": "s"
                }
            ]
        },
        "dblp21": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003675,
            "actual_rows": 2104506,
            "estimated_cardinality": 3343619,
            "children": [],
            "relation": "dblp21",
            "opt_filter": "s>=1210549 AND s<=3315060 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp21",
                    "field_name": "s"
                }
            ]
        },
        "dblp18": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001304,
            "actual_rows": 1199142,
            "estimated_cardinality": 1229938,
            "children": [],
            "relation": "dblp18",
            "opt_filter": "s>=1245736 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp18",
                    "field_name": "s"
                }
            ]
        },
        "dblp5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.005075,
            "actual_rows": 2104506,
            "estimated_cardinality": 2141839,
            "children": [],
            "relation": "dblp5",
            "opt_filter": "s>=1210549 AND s<=3315060 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp5",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp5",
                    "field_name": "d"
                }
            ]
        },
        "dblp19": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001636,
            "actual_rows": 897800,
            "estimated_cardinality": 900001,
            "children": [],
            "relation": "dblp19",
            "opt_filter": "s>=1210549 AND s<=3315060 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp19",
                    "field_name": "s"
                }
            ]
        },
        "dblp16": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001285,
            "actual_rows": 795961,
            "estimated_cardinality": 795961,
            "children": [],
            "relation": "dblp16",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "dblp16",
                    "field_name": "s"
                }
            ]
        }
    }
}