{
    "semijoin_plan": {
        "guard": "yago0",
        "children": [
            {
                "guard": "yago2_4",
                "children": [
                    {
                        "guard": "yago2_3",
                        "children": [
                            {
                                "guard": "yago11_1",
                                "children": [
                                    {
                                        "guard": "yago11_0",
                                        "children": [],
                                        "partitioned": false,
                                        "id": 0,
                                        "partitioning": "hash"
                                    }
                                ],
                                "partitioned": false,
                                "id": 0,
                                "partitioning": "hash"
                            }
                        ],
                        "partitioned": false,
                        "id": 0,
                        "partitioning": "hash"
                    }
                ],
                "partitioned": false,
                "id": 0,
                "partitioning": "hash"
            }
        ],
        "partitioned": false,
        "id": 0,
        "partitioning": "hash"
    },
    "replacements": {
        "yago0": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.021939,
            "actual_rows": 8330844,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": "s>=8 AND s<=4531942 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago0",
                    "field_name": "s"
                }
            ]
        },
        "yago2_4": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.005412,
            "actual_rows": 2124299,
            "estimated_cardinality": 2124368,
            "children": [],
            "relation": "yago2",
            "opt_filter": "d>=8 AND d<=4531942 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago2_4",
                    "field_name": "d"
                }
            ]
        },
        "yago2_3": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.005664,
            "actual_rows": 2124299,
            "estimated_cardinality": 2124368,
            "children": [],
            "relation": "yago2",
            "opt_filter": "d>=8 AND d<=4531942 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago2_3",
                    "field_name": "d"
                }
            ]
        },
        "yago11_1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000106,
            "actual_rows": 110830,
            "estimated_cardinality": 110830,
            "children": [],
            "relation": "yago11",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago11_1",
                    "field_name": "s"
                }
            ]
        },
        "yago11_0": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000164,
            "actual_rows": 110830,
            "estimated_cardinality": 110830,
            "children": [],
            "relation": "yago11",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago11_0",
                    "field_name": "s"
                }
            ]
        }
    }
}