{
    "semijoin_plan": {
        "guard": "v",
        "children": [
            {
                "guard": "ph",
                "children": [
                    {
                        "guard": "c",
                        "children": [
                            {
                                "guard": "p",
                                "children": [
                                    {
                                        "guard": "pl",
                                        "children": [],
                                        "partitioned": false,
                                        "id": 0
                                    },
                                    {
                                        "guard": "u",
                                        "children": [],
                                        "partitioned": false,
                                        "id": 0
                                    }
                                ],
                                "partitioned": false,
                                "id": 0
                            }
                        ],
                        "partitioned": false,
                        "id": 0
                    }
                ],
                "partitioned": false,
                "id": 0
            }
        ],
        "partitioned": false,
        "id": 0
    },
    "replacements": {
        "v": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000861,
            "actual_rows": 327883,
            "estimated_cardinality": 328064,
            "children": [],
            "relation": "votes",
            "opt_filter": "PostId>=4 AND PostId<=115360 AND PostId IS NOT NULL",
            "projection": [
                {
                    "table_name": "v",
                    "field_name": "PostId"
                }
            ]
        },
        "ph": {
            "name": "FILTER",
            "execution_time": 0.000748,
            "actual_rows": 291616,
            "estimated_cardinality": 60637,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.001012,
                    "actual_rows": 291664,
                    "estimated_cardinality": 60637,
                    "children": [],
                    "relation": "postHistory",
                    "opt_filter": "CreationDate>='2010-11-27 03:38:45'::TIMESTAMP AND CreationDate IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "ph",
                            "field_name": "PostId"
                        }
                    ]
                }
            ],
            "condition": "(ph.PostId BETWEEN 4 AND 115360)"
        },
        "c": {
            "name": "FILTER",
            "execution_time": 0.000437,
            "actual_rows": 173784,
            "estimated_cardinality": 34861,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000829,
                    "actual_rows": 173805,
                    "estimated_cardinality": 34861,
                    "children": [],
                    "relation": "comments",
                    "opt_filter": "CreationDate>='2010-07-26 19:37:03'::TIMESTAMP AND CreationDate IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "c",
                            "field_name": "PostId"
                        }
                    ]
                }
            ],
            "condition": "(c.PostId BETWEEN 4 AND 115360)"
        },
        "u": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000147,
            "actual_rows": 40324,
            "estimated_cardinality": 8065,
            "children": [],
            "relation": "users",
            "opt_filter": "Id<=55746 AND Id IS NOT NULL",
            "projection": [
                {
                    "table_name": "u",
                    "field_name": "Id"
                }
            ]
        },
        "p": {
            "name": "FILTER",
            "execution_time": 0.000234,
            "actual_rows": 91000,
            "estimated_cardinality": 18395,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000648,
                    "actual_rows": 91000,
                    "estimated_cardinality": 18395,
                    "children": [],
                    "relation": "posts",
                    "opt_filter": "CreationDate>='2010-07-21 13:50:08'::TIMESTAMP AND CreationDate<='2014-09-11 00:53:10'::TIMESTAMP AND CreationDate IS NOT NULL AND CommentCount<=18 AND CommentCount IS NOT NULL AND Score>=-2 AND Score IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "p",
                            "field_name": "OwnerUserId"
                        },
                        {
                            "table_name": "p",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(p.Id BETWEEN 4 AND 115360)"
        },
        "pl": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 6.2e-05,
            "actual_rows": 10593,
            "estimated_cardinality": 2220,
            "children": [],
            "relation": "postLinks",
            "opt_filter": "CreationDate<='2014-08-05 18:27:51'::TIMESTAMP AND CreationDate IS NOT NULL",
            "projection": [
                {
                    "table_name": "pl",
                    "field_name": "PostId"
                }
            ]
        }
    }
}