{
    "semijoin_plan": {
        "guard": "ph",
        "children": [
            {
                "guard": "p",
                "children": [
                    {
                        "guard": "u",
                        "children": [],
                        "partitioned": false,
                        "id": 0
                    }
                ],
                "partitioned": false,
                "id": 0
            }
        ],
        "partitioned": false,
        "id": 0
    },
    "replacements": {
        "ph": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00091,
            "actual_rows": 298908,
            "estimated_cardinality": 60637,
            "children": [],
            "relation": "postHistory",
            "opt_filter": "CreationDate>='2010-08-21 05:30:40'::TIMESTAMP AND CreationDate IS NOT NULL",
            "projection": [
                {
                    "table_name": "ph",
                    "field_name": "UserId"
                }
            ]
        },
        "p": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000187,
            "actual_rows": 90956,
            "estimated_cardinality": 18395,
            "children": [],
            "relation": "posts",
            "opt_filter": "Score>=0 AND Score IS NOT NULL",
            "projection": [
                {
                    "table_name": "p",
                    "field_name": "OwnerUserId"
                }
            ]
        },
        "u": {
            "name": "FILTER",
            "execution_time": 6.2e-05,
            "actual_rows": 40050,
            "estimated_cardinality": 8065,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000193,
                    "actual_rows": 40051,
                    "estimated_cardinality": 8065,
                    "children": [],
                    "relation": "users",
                    "opt_filter": "UpVotes<=198 AND UpVotes IS NOT NULL AND CreationDate>='2010-07-19 20:49:05'::TIMESTAMP AND CreationDate IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "u",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(u.Id <= 55746)"
        }
    }
}