{
    "semijoin_plan": {
        "guard": "mi",
        "children": [
            {
                "guard": "t",
                "children": [],
                "partitioned": false,
                "id": 0
            }
        ],
        "partitioned": false,
        "id": 0
    },
    "replacements": {
        "mi": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.017099,
            "actual_rows": 14835720,
            "estimated_cardinality": 14835720,
            "children": [],
            "relation": "movie_info",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "mi",
                    "field_name": "movie_id"
                }
            ]
        },
        "t": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.078816,
            "actual_rows": 2526430,
            "estimated_cardinality": 2528312,
            "children": [],
            "relation": "title",
            "opt_filter": "id<=2526430 AND id IS NOT NULL",
            "projection": [
                {
                    "table_name": "t",
                    "field_name": "id"
                },
                {
                    "table_name": "t",
                    "field_name": "title"
                }
            ]
        }
    }
}